:root {
  --main-bg-colour: #b0ffb0;
  --main-header-colour: #88cc88;
  --header-text-colour: #111121;
  --article-bg-colour: #c0ffc0;
  --article-header-colour: #0f0f0f;
  --article-text-colour: #050505;
}

body {
  background-color: var(--main-bg-colour)
}

h1 {
  font-size: 2em;
}

.header {
  background-color: var(--main-header-colour);
  color: var(--header-text-colour);
}

.header h1 {
  margin: 5px;
  font-size: 2.5em;
}

.article {
  background-color: var(--article-bg-colour);
  color: var(--article-text-colour);
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  color: var(--article-header-colour);
}

