<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="/stylesheets/style.css" rel="stylesheet">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <!-- <link rel="icon" href="/favicon.ico" sizes="any"> -->
  <!-- <link rel="icon" href="/icon.svg" type="image/svg+xml"> -->
  <!-- <link rel="apple-touch-icon" href="icon.png"> -->

  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <meta name="theme-color" content="#b0fab0">
</head>

<body>
  <div class="header">
    <h1> Welcome to the site frendo </h1>
  </div>
  <div class="article">
    {{ post|markdown }}
  </div>
</body>

</html>
